<h1 *ngIf="game.won" class="gameoverText animated bounceInDown green-text text-darken-4">
    <i class="material-icons left large">thumb_up</i> Gnaste!</h1>
<a *ngIf="game.won" class="restartButon btn cyan animated bounceInDown" (click)="restartClicked($event)">Iniciar</a>
<h1 *ngIf="game.lost" class="gameoverText animated bounceInDown red-text text-darken-4">
    <i class="material-icons left large">thumb_down</i> Perdiste!</h1>
<a *ngIf="game.lost" class="restartButon btn cyan animated bounceInDown" (click)="restartClicked($event)">Iniciar</a>
<div [ngStyle]="{'padding': '20px 0px 0px 0px', 'width': (game.width * 60 + 40) + 'px', 'margin': '0px auto'}">
    <button class="boton-nivel">easy</button>
    <button class="boton-nivel">medium</button>
    <button class="boton-nivel">hard</button>
    <button class="boton-nivel">guardar</button>
    <button class="boton-nivel">cargar</button>
</div>
    <div [ngStyle]="{'padding': '20px 0px 20px 0px', 'width': (game.width * 60 + 40) + 'px', 'margin': '0px auto'}">
    <div class="tabla-minas">
        <table id="minas">
            <thead>
                <tr>
                    <th>Minas</th>
                    <th>Desactivar</th>
                    <th>tiempo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>1:00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div [ngStyle]="{'padding': '20px', 'width': (game.width * 60 + 40) + 'px', 'margin': '0px auto'}" class="light grey">
    <ng-container *ngFor="let row of game.space">
        <ng-container *ngFor="let mineBox of row">
            <gh-app-mine-box [mine]="mineBox.mine" [revealed]="mineBox.revealed" [danger]="mineBox.danger" (click)="boxClicked($event, mineBox.i, mineBox.j)"></gh-app-mine-box>
        </ng-container>
    </ng-container>
</div>