$color_1: white;
$font_family_1: "Trebuchet MS", Arial, Helvetica, sans-serif;
$background_color_1: #f2f2f2;
$background_color_2: #2196F3;

.restartButon {
	position: fixed;
	top: 200px;
	left: 10px;
	z-index: 999;
}
.gameoverText {
	position: fixed;
	top: 50px;
	left: 10px;
	z-index: 999;
}
.tabla-minas {
	width: 100%;
}
#minas {
	font-family: $font_family_1;
	border-collapse: collapse;
	td {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		border: 1px solid #ddd;
		padding: 8px;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: $background_color_2;
		color: $color_1;
	}
	tr {
		&:nth-child(even) {
			background-color: $background_color_1;
		}
	}
}
.boton-nivel {
	padding-right: '5px';
	width: 75px;
}
