
<div class="tabla-resultados">
        <table  id="resultados">
            <thead>
                <tr>
                    <th>start time</th>
                    <th>end time</th>
                    <th>dificulty</th>
                    <th>time spent</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hero of dataSource">
                    <td>{{hero.startTime}}</td>
                    <td>{{hero.endTime}}</td>
                    <td>{{hero.dificulty}}</td>
                    <td>{{hero.timeSpent}}</td>
                    <td>{{hero.status}}</td>
                </tr>
            </tbody>
        </table>
</div>