$color_1: white;
$font_family_1: "Trebuchet MS", Arial, Helvetica, sans-serif;
$background_color_1: #f2f2f2;
$background_color_2: #2196F3;

.tabla-resultados {
	width: 100%;
	padding: 50px 30px 0px 30px;
}
#resultados {
	font-family: $font_family_1;
	border-collapse: collapse;
	td {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		border: 1px solid #ddd;
    padding: 8px;
    background-color: $background_color_2;
    color:$color_1;
	}
	tr {
		&:nth-child(even) {
			background-color: $background_color_1;
		}
	}
}