<div class="container">
    <div class="row">
        <h2 [ngStyle]="{'color':'#2196F3'}">Configuracion</h2>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <label for="rows">Columnas</label><br>
                    <input (change)="onChangeDimension($event)" min="2" max="50" name="rows" [(ngModel)]="width" id="rows" type="number">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="cols">Filas</label><br>
                    <input (change)="onChangeDimension($event)" min="2" max="50" name="cols" [(ngModel)]="height" id="cols" type="number">
                </div>
            </div>
            <div class="row right-align">
                <a class="btn cyan" (click)="setGame($event)">Guardar</a>
            </div>
        </form>
    </div>
</div>