<a [ngClass]="{'btn-floating btn-large': true,
 'red': revealed && mine,
 'green darken-4': revealed && !mine,
 'blue': !revealed}">
    <i *ngIf="revealed" style="font-weight: bold;">
        {{danger}}
    </i>
</a>
