<nav class="blue">
    <div class="nav-wrapper">
        <span class="brand-logo hide-on-med-and-down">{{title}}</span>
        <ul id="nav-mobile" class="right">
            <li><a routerLink="/" routerLinkActive="active"><i class="material-icons left">games</i> Juego</a></li>
            <li><a routerLink="/config" routerLinkActive="active"><i class="material-icons left">settings</i> Config</a></li>
            <li><a routerLink="/result" routerLinkActive="active"><i class="material-icons left">list</i> Resultados</a></li>    
        </ul>
    </div>
</nav>